/*NOTES
Work on fonts
DONE: Work on aligning the content in the collumns to center
DONE: work on two collumns
Work on footer
work who would benefit from the book
*/

/*************************fonts***********************/
@font-face {
  font-family: bebas-neue;
  src: url("https://use.typekit.net/af/c080f0/0000000000000000000149c5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/c080f0/0000000000000000000149c5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/c080f0/0000000000000000000149c5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
}

body, div, h1, ul {
	margin:0;
}
body{
	background-color: #fff;
	margin:0;
/*	margin-top: -10px;*/
}
h1{
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
	padding:40px 0;
	text-align: center;

}
h2{
	font-family: "Courier New", Courier, monospace;
	font-size: 25px;
	text-align: center;
	margin-top: 0;
}
p {
	font-family:Impact, Charcoal, sans-serif;
	font-size: 20px;
}

button {
	font-family: bebas-neue, Times, serif;
	font-size:22px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border-style: none;
	background:#f88e37;
	color:#fff;
	padding:10px 10px;
	margin-bottom: 10px;
	border-radius:10px;
}
button:hover {
	background-color:#3daadd;
    padding: 15px 15px;
    transition:0.1s;
}
footer{
	text-align: center;
	padding:20px;
	background-color: #ebeae6;
}
a {
	font-family:Impact, Charcoal, sans-serif;
	text-decoration: none;
	text-align: center;
	padding:10px 10px;
}
/*********************NAV BAR STYLING **********************/
nav{
	background:#ebeae6;
	/*margin-bottom:-17px;*/
}
ul {
	list-style-type: none;
	/*margin: 10px;*/
	padding: 40px 10px;
	text-align: center;
	/*overflow: hidden;*/
}
li {
	display: inline;
}

li a {
	text-decoration: none;
	text-align: center;
	padding:10px 10px;
	color:#333;
}

li a:hover {
    background-color: #f88e37;
    text-decoration: none;
}
/***************************MAIN LANDING PAGE SECTION *********************/
main {
	border-top: 1px solid black;
	padding: 15px 0px;
	background:#ebeae6;
}
/*#main-landing{
	background:yellow;
}*/
.collumns2{
/*	padding-left: 10px;*/
	float:left;
	width:50%;
	padding-bottom: 30px;
}

#main-img{
	/*width:60%;*/
	border-radius:10px;
	border:1px solid #333;
/*centering the image*/   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#second-collumn{
	text-align: center;
	margin-top:50px;
}
#second-collumn p {
	margin-left: auto;
    margin-right: auto;
    width: 90%;
    }
#second-collumn button{

	/*background:#f88e37/*#ff5a00;*/
	 /*centering the image*/   
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;	
    width: 50%;
    color:#fff;

}
/*******************BUTTON**********************************/
#call-to-action {
/*	background-color: #ddd;*/
	padding:10px 10px;
}
#call-to-action:hover {
    /*background-color:#3daadd;*/
    padding: 15px;
    transition:0.3s;

}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*******************END OF MAIN LANDING PAGE SECTION ******************/
/****************MAIN-ATTRACTION ***************************/
#main-attraction {
	background-color: #011926;
	min-height:150px;
	text-align: center;
	padding: 50px 40px;
	color:#fff;
}
#main-attraction button {
	/*background-color: #ddd;*/
	padding:10px 10px;
    width: 50%;
}
#main-attraction button:hover {
  /*  background-color: ;*/
    padding: 15px 15px;
    transition:0.1s;
}
/**************END OF MAIN ATTRACTION ***********************/
/****************** THE 3 COLLUMNS LAYOUT ******************/
 #books{
/* 	background:yellow;*/
 	padding-top: 30px;
 	padding-bottom:20px;
 }
 #books1{
/* 	background:blue;*/
 	padding-top: 30px;
 	padding-bottom:20px;

 }
 .book1{
/* 	background-color: green;*/
 }
 .collumn {
 	/*padding-left: 5%;*/
    float: left;
    width: 33.33%;

}
.group-pics{
 /*centering the image*/   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border:5px solid #fff;
    border-radius: 10px;
}


/* Clear floats after the columns */
.row:after {
    /*content: "";
    display: table;*/
    clear: both;
}

.collumn button {
/*	background-color: #ddd;*/
	/*padding:10px 10px;*/
	
}
.collumn button:hover {
/*    background-color: #fdd;*/
    padding: 15px 15px;
    transition:0.1s;
}
/********************END OF 3 COLLUMNS ******************************/
/********************BLURB******************************************/
#blurb {
	background-color: #011926;
	min-height:200px;
	text-align: left;
	padding: 50px 40px;
	color:#fff;
}
/********************END OF BLURB******************************************/
/**********************author section ************************/
#author{
/*	background:yellow;*/
	padding: 40px 40px;
}
#author-img{
	width:100%;
}

.righty{
	text-align: left;
}
/**********************END OF author section ************************/
/**********************WHO the book is for **************************/
#who {
	padding:20px 40px;
	background:#011926;
	/*padding-left: 40px;*/
	color:#fff;
}


/**********************WHO the book is for **************************/
/* Responsive layout - when the screen is less than 600px wide, make the
 the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .collumn {
        width: 100%;
    }
    .collumns2 {
        width: 100%;
    }
}

